<div class="tab-pane fade show active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
  <div class="card-body">
    <!-- Card with an image on left -->
    <div align="center">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <img src="assets/img/logo1.png" class="img-fluid rounded-start" alt="..." width="300px" />
              <h5 class="card-title">
                Department of Optometry, Faculty of Allied Health
                Science
              </h5>
              <p class="card-text">
                Naresuan University, Tel, +66(0)55966285
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card with an image on left -->
    </div>

    <!-- General Form Elements -->

    <div class="row mb-3">
      <label for="inputText" class="col-sm-12 col-form-label"><b>Visual Assessment Record (Patient's case history)</b></label>
      <hr />
    </div>
    <div class="row mb-3 g-3">
      <div class="col-12 col-md-6">
        <label for="pi_fname" class="form-label">First Name :</label>
        <input type="text" name="pi_fname" id="pi_fname" class="form-control" required />
        <div class="invalid-feedback">
          Please complete the information.
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="pi_lname" class="form-label">Last Name :</label>
        <input type="text" name="pi_lname" id="pi_lname" class="form-control" required />
        <div class="invalid-feedback">
          Please complete the information.
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="pi_birth" class="form-label">Date of Birth</label>
        <input type="date" name="pi_birth" id="pi_birth" class="form-control" required />
      </div>

      <div class="col-12 col-md-6">
        <label for="pi_gender" class="form-label me-2">Gender :</label><br />
        <div class="form-check form-check-inline">
          <input type="radio" name="pi_gender" id="male" class="form-check-input" value="male" required />
          <label for="male" class="form-check-label">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" name="pi_gender" id="female" class="form-check-input" value="female" />
          <label for="female" class="form-check-label">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" name="pi_gender" id="other" class="form-check-input" value="LGBTQ+" />
          <label for="other" class="form-check-label">N/A</label>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <label for="pi_tel" class="form-label">Tel :</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bx bxs-phone"></i></span>
          <input type="text" class="form-control" name="pi_tel" id="pi_tel" maxlength="10" placeholder="0999999999" required />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="pi_occupation" class="form-label">Occupation :</label>
        <div class="input-group mb-3">
          <input type="text" name="pi_occupation" id="pi_occupation" class="form-control" required />
        </div>
      </div>

      <div class="col-12">
        <label for="pi_address" class="form-label">Address :</label>
        <div class="col-sm-12">
          <textarea rows="3" name="pi_address" id="pi_address" class="form-control" required></textarea>
        </div>
      </div>


    </div>

    <hr class="my-4">

    <div class="row mb-3">
      <label for="cc_text" class="form-label">Chief Complaint :</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="4" name="cc_text" id="cc_text" required ></textarea>
      </div>
      <div class="col-sm-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cc_symptoms" id="cc_symptoms1" value="มีอาการมัวระยะไกล" required />
          <label class="form-check-label" for="cc_symptoms1">มีอาการมัวระยะไกล</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cc_symptoms" id="cc_symptoms2" value="มีอาการมัวระยะใกล้" />
          <label class="form-check-label" for="cc_symptoms2">มีอาการมัวระยะใกล้</label>
        </div>
      </div>
    </div>

    <hr class="my-4" />

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="POHx_checked" class="form-label">POHx : ตรวจตาครั้งล่าสุดเมื่อ</label>
        <div class="input-group mb-3">
          <input type="date" name="POHx_checked" id="POHx_checked" class="form-control" required />
        </div>
      </div>
      <div class="col-md-6">
        <label for="POHx_reason" class="form-label">สาเหตุที่เข้ารับการตรวจ :</label>
        <div class="input-group mb-3">
          <input type="text" name="POHx_reason" id="POHx_reason" class="form-control" required />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="POHx_inspector" class="form-label">ผู้ตรวจ :</label>
        <div class="input-group mb-3">
          <input type="text" name="POHx_inspector" id="POHx_inspector" class="form-control" required />
        </div>
      </div>
      <div class="col-md-4">
        <label for="POHx_site" class="form-label">สถานที่ตรวจ :</label>
        <div class="input-group mb-3">
          <input type="text" name="POHx_site" id="POHx_site" class="form-control" required />
        </div>
      </div>
      <div class="col-md-4">
        <p class="">ยาขยายม่านตา :</p>
        <input type="radio" name="POHx_mydriatic" id="POHx_mydriatic1" class="form-check-input" value="yes" required />
        <label for="POHx_mydriatic1" class="form-check-label">ใช้ &nbsp;</label>
        <input type="radio" name="POHx_mydriatic" id="POHx_mydriatic2" class="form-check-input" value="no" />
        <label for="POHx_mydriatic2" class="form-check-label"> ไม่ใช้ </label>
      </div>
    </div>
    <div class="row mb-3">
      <label for="POHx_results" class="col-sm-3 col-form-label">ผลการตรวจ :</label>
      <div class="col-sm-9">
        <input type="text" name="POHx_results" id="POHx_results" class="form-control" required />
      </div>
    </div>
    <div class="row mb-3">
      <label for="POHx_edited" class="col-sm-3 col-form-label">ได้รับการแก้ไขโดย :</label>
      <div class="col-sm-9">
        <input type="text" name="POHx_edited" id="POHx_edited" class="form-control" required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="POHx_radio" id="POHx_radio1" onchange="toggleInput(this)" value="Glasses" required />
        <label class="form-check-label" for="POHx_radio1"> Glasses : </label>
      </div>
      <div class="col-sm-9" id="radioGroup">
        <input type="text" class="form-control" name="POHx_radio_detail" id="input1" disabled required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="POHx_radio" id="POHx_radio2" onchange="toggleInput(this)" value="Contact lens" />
        <label class="form-check-label" for="POHx_radio2">
          Contact lens :
        </label>
      </div>
      <div class="col-sm-9" id="radioGroup">
        <input type="text" class="form-control" name="POHx_radio_detail" id="input2" disabled required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="POHx_radio" id="POHx_radio3" onchange="toggleInput(this)" value="Surgery" />
        <label class="form-check-label" for="POHx_radio3"> Surgery : </label>
      </div>
      <div class="col-sm-9" id="radioGroup">
        <input type="text" class="form-control" name="POHx_radio_detail" id="input3" disabled required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="POHx_radio" id="POHx_radio4" onchange="toggleInput(this)" value="Trauma" />
        <label class="form-check-label" for="POHx_radio4"> Trauma : </label>
      </div>
      <div class="col-sm-9" id="radioGroup">
        <input type="text" class="form-control" name="POHx_radio_detail" id="input4" disabled required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="POHx_radio" id="POHx_radio5" onchange="toggleInput(this)" value="Infection" />
        <label class="form-check-label" for="POHx_radio5">
          Infection :
        </label>
      </div>
      <div class="col-sm-9" id="radioGroup">
        <input type="text" class="form-control" name="POHx_radio_detail" id="input5" disabled required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="POHx_radio" id="POHx_radio6" onchange="toggleInput(this)" value="Visual Training" />
        <label class="form-check-label" for="POHx_radio6">
          Visual Training :
        </label>
      </div>
      <div class="col-sm-9" id="radioGroup">
        <input type="text" class="form-control" name="POHx_radio_detail" id="input6" disabled required />
      </div>
    </div>
    <hr />
    <div class="row mb-3">
      <label for="inputText" class="col-sm-12 col-form-label"><b>HA & Diplopia Hx :</b></label>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="ha_radio" id="radio7" onchange="toggleInput2(this)" value="HA" required />
        <label class="form-check-label" for="radio7"> HA : </label>
      </div>
      <div class="col-sm-9" id="radioGroup2">
        <input type="text" class="form-control" name="ha_radio_detail" id="input7" disabled required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="ha_radio" id="radio8" onchange="toggleInput2(this)" value="Diplopia" />
        <label class="form-check-label" for="radio8">
          Diplopia :
        </label>
      </div>
      <div class="col-sm-9" id="radioGroup2">
        <input type="text" class="form-control" name="ha_radio_detail" id="input8" disabled required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="ha_radio" id="radio9" onchange="toggleInput2(this)" value="Flash" />
        <label class="form-check-label" for="radio9"> Flash : </label>
      </div>
      <div class="col-sm-9" id="radioGroup2">
        <input type="text" class="form-control" name="ha_radio_detail" id="input9" disabled required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="ha_radio" id="radio10" onchange="toggleInput2(this)" value="Floater" />
        <label class="form-check-label" for="radio10"> Floater : </label>
      </div>
      <div class="col-sm-9" id="radioGroup2">
        <input type="text" class="form-control" name="ha_radio_detail" id="input10" disabled required />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="ha_radio" id="radio11" onchange="toggleInput2(this)" value="Halos" />
        <label class="form-check-label" for="radio11"> Halos : </label>
      </div>
      <div class="col-sm-9" id="radioGroup2">
        <input type="text" class="form-control" name="ha_radio_detail" id="input11" disabled required />
      </div>
    </div>
    <hr class="my-4" />
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="PMHx_checked" class="form-label">PMHx : ตรวจสุขภาพครั้งล่าสุดเมื่อ</label>
        <div class="input-group mb-3">
          <input type="date" name="PMHx_checked" id="PMHx_checked" class="form-control" required />
        </div>
      </div>
      <div class="col-md-6">
        <label for="PMHx_reason" class="form-label">สาเหตุที่เข้ารับการตรวจ :</label>
        <div class="input-group mb-3">
          <input type="text" name="PMHx_reason" id="PMHx_reason" class="form-control" required />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="PMHx_inspector" class="form-label">ผู้ตรวจ :</label>
        <div class="input-group mb-3">
          <input type="text" name="PMHx_inspector" id="PMHx_inspector" class="form-control" required />
        </div>
      </div>
      <div class="col-md-6">
        <label for="PMHx_site" class="form-label">สถานที่ตรวจ :</label>
        <div class="input-group mb-3">
          <input type="text" name="PMHx_site" id="PMHx_site" class="form-control" required />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="PMHx_results" class="form-label">ผลการตรวจ :</label>
        <div class="input-group mb-3">
          <input type="text" name="PMHx_results" id="PMHx_results" class="form-control" required />
        </div>
      </div>
      <div class="col-md-4">
        <label for="PMHx_pressure" class="form-label">Blood pressure :</label>
        <div class="input-group mb-3">
          <input type="text" name="PMHx_pressure" id="PMHx_pressure" class="form-control" required />
        </div>
      </div>
      <div class="col-md-4">
        <label for="PMHx_sugar" class="form-label">Blood Sugar :</label>
        <div class="input-group mb-3">
          <input type="text" name="PMHx_sugar" id="PMHx_sugar" class="form-control" required />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="PMHx_disease" class="col-sm-2 col-form-label">โรคประจำตัว :</label>
      <div class="col-sm-10">
        <input type="text" name="PMHx_disease" id="PMHx_disease" class="form-control" required />
      </div>
    </div>
    <hr />
    <div class="row gy-3 mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Medication :</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="med_radio" id="radio12" onchange="toggleInput3(this)" value="Med" required />
          <label class="form-check-label" for="radio12"> Med </label>
          <div class="col-sm-12" id="radioGroup3">
            <input type="text" name="med_radio_detail" class="form-control" id="input12" disabled required />
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="med_radio" id="radio13" onchange="toggleInput3(this)" value="OTC" />
          <label class="form-check-label" for="radio13"> OTC </label>
          <div class="col-sm-12" id="radioGroup3">
            <input type="text" name="med_radio_detail" class="form-control" id="input13" disabled required />
          </div>
        </div>
      </div>
      <label for="med_KKK" class="col-sm-2 col-form-label">KMA/KEA/KFA :</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="4" name="med_KKK" id="med_KKK" required ></textarea>
      </div>
    </div>
    <hr />
    <div class="row mb-3">
      <label for="FmHx_text" class="col-sm-2 col-form-label">FmHx :</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="4" name="FmHx_text" id="FmHx_text" required></textarea>
      </div>
    </div>
    <hr />
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="inputText" class="col-sm-12 col-form-label"><b>อาชีพ/งานอดิเรก/การใช้อุปกรณ์อิเล็กทรอนิกส์</b></label>
      </div>
      <div class="col-md-4">
        <label for="inputText" class="col-sm-12 col-form-label"><b>Dominant Hand : R / L</b></label>
      </div>
      <div class="col-md-4">
        <label for="inputText" class="col-sm-12 col-form-label"><b>Dominant Eye : R / L</b></label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="ohe_work" class="form-label">Work :</label>
        <div class="input-group mb-3">
          <input type="text" name="ohe_work" id="ohe_work" class="form-control" required />
        </div>
      </div>
      <div class="col-md-6">
        <label for="ohe_hobby" class="form-label">Hobby :</label>
        <div class="input-group mb-3">
          <input type="text" name="ohe_hobby" id="ohe_hobby" class="form-control" required />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <input class="form-check-input" type="checkbox" name="ohe_checkbox1" id="checkbox30" value="Computer (Laptop / PC)" onclick="toggleInput6(this)" />
        <label for="checkbox30" class="form-label">Computer (Laptop / PC) :</label>
        <div class="input-group mb-3" id="checkbox1Group1">
          <input type="text" name="ohe_checkbox_detail1" class="form-control" id="input30" disabled required />
        </div>
      </div>
      <div class="col-md-6">
        <input class="form-check-input" type="checkbox" name="ohe_checkbox2" id="checkbox31" value="Tablet/Smartphone" onclick="toggleInput6(this)" />
        <label for="checkbox31" class="form-label">Tablet/Smartphone :</label>
        <div class="input-group mb-3" id="checkbox1Group1">
          <input type="text" name="ohe_checkbox_detail2" class="form-control" id="input31" disabled required />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <input class="form-check-input" type="checkbox" name="ohe_checkbox3" id="checkbox32" value="Smoking" onclick="toggleInput6(this)" />
        <label for="checkbox32" class="form-label">Smoking :</label>
        <div class="input-group mb-3">
          <input type="text" name="ohe_checkbox_detail3" class="form-control" id="input32" disabled required />
        </div>
      </div>
      <div class="col-md-6">
        <input class="form-check-input" type="checkbox" name="ohe_checkbox4" id="checkbox33" value="Alcohol" onclick="toggleInput6(this)" />
        <label for="checkbox33" class="form-label">Alcohol :</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="ohe_checkbox_detail4" id="input33" disabled required />
        </div>
      </div>
    </div>
    <hr />
    <div class="row mb-3">
      <legend class="col-form-label col-sm-3 pt-0">
        การตอบสนองของคนไข้ :
      </legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="pr_radio" id="pr_radio1" value="1x" required />
          <label class="form-check-label" for="pr_radio1"> 1x </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="pr_radio" id="pr_radio2" value="2x" />
          <label class="form-check-label" for="pr_radio2"> 2x </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="pr_radio" id="pr_radio3" value="3x" />
          <label class="form-check-label" for="pr_radio3"> 3x </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="pr_radio" id="pr_radio4" value="4x" />
          <label class="form-check-label" for="pr_radio4"> 4x </label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="pr_other" class="col-sm-3 col-form-label">ข้อมูลสังเกตุอื่นๆ :</label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="4" name="pr_other" id="pr_other" required ></textarea>
      </div>
    </div>
    <hr />

    <!-- End General Form Elements -->
  </div>
</div>